.content {
    overflow-y: auto;

    & > .accounts-container {
        padding-right: 10px;
        padding-top: 14px;
    }

    .accounts-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2.5rem;
        height: fit-content;
        margin-bottom: 2.5rem;
    }

    .nothing-found {
        align-items: center;
        height: 100%;
        user-select: none;
        font-size: 2rem;
    }

    .image-not-found {
        border-radius: 50%;
        margin-bottom: 1rem;
    }
}
