@import "Common/Styles/Variables";

.authorization {
    position: relative;

    .spin-wrap + .authorization__container > div {
        filter: blur(5px);
    }

    .authorization__container {
        background: var(--color-background);
        border: $border;
        border-radius: 5px;
        width: 400px;
        min-height: 230px;
        box-shadow: 2px 2px 3rem rgba(0, 0, 0, 0.6);
        display: grid;
        grid-template-rows: auto minmax(160px, 1fr) minmax(40px, auto);
        grid-template-columns: 100%;
    }
}

.authorization__footer:global(.right),
.authorization__body:global(.right) {
    align-items: flex-end;
}

.authorization__footer:global(.center),
.authorization__body:global(.center) {
    align-items: center;
}

.authorization__footer:global(.left),
.authorization__body:global(.left) {
    align-items: flex-start;
}

.authorization__header,
.authorization__footer {
    border-bottom: $border;
}

.authorization__header,
.authorization__footer,
.authorization__body {
    padding: 0.5rem 1rem;
}

.authorization__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authorization__footer {
    border-top: $border;
    text-align: center;
}

.auth__message_container {
    &:global(.error) {
        color: var(--color-danger);
    }
    &:global(.success) {
        color: var(--color-success);
    }
}
