@import "ui/Styles/mixins";

.ui-lib {
    height: 100%;
}

.ui-lib,
#ui-lib-modal-portal {
    --color-danger: #ca0000;
    --color-warning: #db8e00;
    --color-success: #0ca400;
    --color-info: #1671ce;
}

.ui-lib {
    .pre-line {
        white-space: pre-line;
    }
}

.ui-lib__ripple {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    transform: scale(0.2);
    animation: ripple 0.75s ease-out;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.ui-lib__flat {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.33);
    outline: none !important;
    position: relative;
    cursor: pointer;
    transition: box-shadow 300ms;
    overflow: hidden;

    &.animate {
        animation: animate-warning-button 4s ease-out 1s 2;
    }

    &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.5);
    }
}

.ui-lib__drop-list {
    border: 1px solid #bbb;
    position: fixed;
    cursor: pointer;
    background: #fff;
    overflow-y: auto;
    z-index: 1;
    pointer-events: none;
}

.ui-lib-option {
    overflow: hidden;
    word-break: break-word;
    font-family: monospace;
    transition: background 0.5s;
    font-size: 1.25rem;
    user-select: none;
    pointer-events: all;

    &:hover,
    &.active-item {
        background: rgba(0, 0, 0, 0.15);
    }
}

.font-monospace {
    font-family: monospace;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.es {
    > .ui-lib__flat,
    &.ui-lib__flat {
        @include flat-es;
    }
}

.sm {
    > .ui-lib__flat,
    &.ui-lib__flat {
        @include flat-sm;
    }
}

.md {
    > .ui-lib__flat,
    &.ui-lib__flat {
        @include flat-md;
    }
}

.lg {
    > .ui-lib__flat,
    &.ui-lib__flat {
        @include flat-lg;
    }
}

.el {
    > .ui-lib__flat,
    &.ui-lib__flat {
        @include flat-el;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes animate-warning-button {
    0% {
        background: rgba(255, 227, 57, 0.74);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0 0 8px rgba(255, 227, 57, 0.85);
    }
    50% {
        box-shadow: 0 0 8px rgba(255, 218, 16, 0.91);
    }
    75% {
        box-shadow: 0 0 8px rgba(255, 227, 57, 0.85);
    }
    100% {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
}
