@keyframes animate-warning-button {
    0% {
        background: rgba(255, 227, 57, 0.74);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0 0 8px rgba(255, 227, 57, 0.85);
    }
    50% {
        box-shadow: 0 0 8px rgba(255, 218, 16, 0.91);
    }
    75% {
        box-shadow: 0 0 8px rgba(255, 227, 57, 0.85);
    }
    100% {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
}

.ui-lib {
    --color-danger: #ca0000;
    --color-warning: #db8e00;
    --color-success: #0ca400;
}
