.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1rem;
    overflow: visible;
    vertical-align: -0.125em;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.ui-lib-svg-icon {
    &.success {
        color: var(--color-success);
    }
    &.danger {
        color: var(--color-danger);
    }
    &.warning {
        color: var(--color-warning);
    }
    &.info {
        color: var(--color-info);
    }

    &.es {
        height: 0.75rem;
    }

    &.sm {
        height: 1rem;
    }

    &.md {
        height: 1.25rem;
    }

    &.lg {
        height: 1.5rem;
    }

    &.el {
        height: 2rem;
    }
}
