@import "ui/Styles/mixins";

.select-category-text {
    text-align: center;
    padding-top: 1rem;
}

.account-form {
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;

    @include extra-small {
        grid-template-columns: 1fr;
    }
}
