@import "ui/Styles/mixins";

.ui-lib-select {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .ui-lib__hidden-controller {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        height: 2rem;

        &:focus ~ .ui-lib__drop-list {
            display: initial;
        }

        &:focus ~ .ui-lib-select__value > .ui-lib-select__arrow {
            transform: rotateZ(180deg);
        }
    }

    .ui-lib__drop-list {
        display: none;
    }

    .ui-lib-option {
        padding: 0.5rem 1rem;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 0.75rem;
        grid-template-columns: minmax(2rem, auto) 1fr;

        .ui-lib-highlight__container {
            display: flex;
            align-items: center;
        }
    }

    .ui-lib-option__icon {
        pointer-events: none;
        text-align: center;
    }

    &.disabled {
        cursor: not-allowed;
        .ui-lib-select__value {
            @include disabled;
        }
    }

    &.error {
        .ui-lib-select__value {
            border-color: var(--color-danger);
        }
    }

    &.success {
        .ui-lib-select__value {
            border-color: var(--color-success);
        }
    }

    &.warning {
        .ui-lib-select__value {
            border-color: var(--color-warning);
        }
    }
}

.ui-lib-select__arrow {
    grid-column: 2;
    transition: transform 250ms;
}

.ui-lib-select__value {
    border: 1px dashed;
    border-bottom: 3px solid #b5b5b5;
    padding: 0.2rem 0.5rem;
    height: 2rem;
    text-align: left;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 0.5rem;
}

.ui-lib-option {
    overflow: hidden;
    word-break: break-word;
    font-family: monospace;
    transition: background 0.5s;
    font-size: 1.25rem;
    user-select: none;
    pointer-events: all;

    &:hover,
    &.active {
        background: rgba(0, 0, 0, 0.15);
    }
}
