.ui-lib__input-filled {
    position: absolute;
    height: 2.5px;
    background: var(--color-info);
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.ui-lib__input--controller:not(:placeholder-shown) ~ .ui-lib__input-filled {
    transform: scaleX(1);
}

.error > .ui-lib__input-filled {
    background: var(--color-danger);
}

.warning > .ui-lib__input-filled {
    background: var(--color-warning);
}

.success > .ui-lib__input-filled {
    background: var(--color-success);
}
