@import "ui/Styles/extends";
@import "ui/Styles/mixins";

@mixin hover {
    @include opacity-background(0.2);
}

@mixin active {
    @include opacity-background(0.4);
}

.ui-lib-theme-dark .header {
    --color-header-background: #000;
}

.header {
    --color-header-background: #678cab;

    background: var(--color-header-background);
    color: var(--color-font-inverse);
    border-bottom: 1px;
    justify-content: space-between;
}

.header,
.header__control-accounts,
.header__control-tools {
    display: flex;
}

.header__control-accounts {
    .header__item {
        text-transform: uppercase;
    }
}

.header__item {
    @extend %v-center;
    padding: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    transition-property: color, background;
    transition-duration: 400ms;

    &:not(:hover).accounts_is_empty {
        animation: active-item-animation ease-in-out infinite 3s;
    }
}

.header__control-tools {
    .header__item {
        padding: 0 0.75rem;
    }
}

.header__item:hover {
    @include hover;
}

.header__item:active {
    @include active;
    transition: background 200ms;
}

.header__icon {
    padding: 0.25rem 0.4rem;

    .ui-lib-svg-icon {
        filter: drop-shadow(0 0 8px #000);
    }
}

@keyframes active-item-animation {
    0% {
        background: var(--color-header-background);
    }
    50% {
        @include active;
    }
    100% {
        background: var(--color-header-background);
    }
}
